<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Проверка одобрения кредита</title>
<link rel="stylesheet" href="globals.css">
<link rel="stylesheet" href="styleguide.css">
<link rel="stylesheet" href="style.css">
</head>
<body>
<div class="macbook-pro">
<div class="rectangle" aria-hidden="true"></div>
<header>
<h1 class="text-wrapper">Добро пожаловать!</h1>
<p class="div">Спросите нашего ИИ агента по поводу одобрения кредита</p>
</header>
<main>
<form class="frame" action="#" method="post" aria-labelledby="form-title">
<h2 id="form-title" class="text-wrapper-2">Введите данные:</h2>
<fieldset class="frame-2">
    <div class="frame-3">
    <label class="text-wrapper-3" for="parameter-5">Параметр:</label>
    <div class="div-wrapper">
        <input class="text-wrapper-4" id="parameter-5" name="parameter-5" type="text" placeholder="Введите тут...">
    </div>
</div>
</div>
</fieldset>
<button class="frame-4" type="submit">
<span class="rectangle-2" aria-hidden="true"></span>
<span class="text-wrapper-5">Проверить</span>
</button>
</form>
</main>
<footer class="frame-5">
<p class="p">Принадлежит группе по разработке IT продуктов "1s-1a". Ником</p>
</footer>
</div>
</body>
</html>
